<?php
${DOLLAR}CONFIG = array (
  'instanceid' => 'oc0z9laxh5d8',
  'passwordsalt' => 'WuH1hcyo2nVgRQIU+XDFmOCdyMMpTU',
  'secret' => 'YrAtIOi78+PYsgIOFC9yCx9thJwbSnXi+JdVGLSnT4YLQHWp',
  'trusted_domains' =>
  array (
    0 => '${HOSTNAME}',
  ),
  'datadirectory' => '/var/www/data',
  'dbtype' => 'pgsql',
  'version' => '16.0.3.0',
  'overwrite.cli.url' => 'http://${HOSTNAME}',
  'dbname' => '${PGDATABASE}',
  'dbhost' => '${PGHOST}',
  'dbport' => '',
  'dbtableprefix' => '${PGPREFIX}',
  'mysql.utf8mb4' => true,
  'dbuser' => '${PGUSER}',
  'dbpassword' => '${PGPASSWORD}',
  'filelocking.enabled' => false,
  'installed' => true,
  'mail_smtpmode' => 'smtp',
  'mail_smtphost' => '${SMTP_HOST}',
  'mail_smtpsecure' => 'tls',
  'mail_sendmailmode' => 'smtp',
  'mail_smtpauthtype' => 'LOGIN',
  'mail_smtpauth' => 1,
  'mail_smtpport' => '25',
  'mail_smtpname' => '${SMTP_USERNAME}',
  'mail_smtppassword' => '${SMTP_PASSWORD}',
  'mail_from_address' => '${SMTP_FROM_USER}',
  'mail_domain' => '${SMTP_FROM_DOMAIN}',
  'maintenance' => false,
  'objectstore' => array(
    'class' => '\\OC\\Files\\ObjectStore\\S3',
    'arguments' => array(
      'bucket' => '${AWS_BUCKET}',
      'autocreate' => true,
      'key'    => '${AWS_ACCESS_KEY_ID}',
      'secret' => '${AWS_SECRET_ACCESS_KEY}',
      'hostname' => '${AWS_S3_ENDPOINT}',
      // 'port' => 1234,
      'use_ssl' => true,
      'region' => '${AWS_DEFAULT_REGION}',
      // required for some non Amazon S3 implementations
      // 'use_path_style'=>true
    ),
  ),
  'skeletondirectory' => '',
  'theme' => '',
  'loglevel' => 2,
);

